.App {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

footer {
  text-align: center;
  margin: 20px 0;
  font-size: 0.8em;
  color: gray;
}

.ui.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 50px; 
  padding: 20px;
}

.ui.card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 15px;
  background: black;
}

.ui.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.ui.card .content {
  margin-top: 10px;
  color: white;
}

.ui.card .extra.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.card .extra.content span {
  display: flex;
  align-items: center;
}

.ui.card .extra.content .icon {
  margin-right: 5px;
}

.bot-army {
  overflow-x: auto;
  min-height: 300px;
  max-width: 100%;
  padding: 20px 0;
  
}

.ui.grid > .row.bot-army-row {
  display: flex;
  flex-wrap: nowrap;
  gap : 50px;
}

.ui.segment {
  padding: 20px;
}

.ui.button {
  margin-top: 10px;
}


