.ui.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    padding: 20px; 
  }
  
  
  .ui.grid .column {
    flex: 0 0 auto;
    
   
  }
  
  .ui.card {
    width: 100%; 
    
  }
  
  .bot-army {
    overflow-x: scroll;
    min-height: 300px;
    max-width: 100%;
  }
  
  .ui.grid > .row.bot-army-row {
    flex-wrap: nowrap;
    min-height: 100%;
  }
  
  .ui.grid {
    padding: 0px 20px;
  }
  